<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Youtube</title>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" href="youtube-logo2.png">
</head>
<body>
	<h2>Youtube Videos</h2>
	<div class="row">
		<div class="column">
			<h4>Column 1</h4>
			<img src="dionachibicat.jpg" alt="Diona Cat Form" width="400" height="300">
			<p>Diona Cat</p>
		</div>
		<div class="column">
			<h4>Column 2</h4>
			<img src="zhonglichibicat.jpg" alt="Zhongli Cat Form" width="400" height="300">
			<p>Zhongli Cat</p>
		</div>
		<div class="column">
			<h4>Column 3</h4>
			<img src="childechibicat.jpg" alt="Childe Cat Form" width="400" height="300">
		<p>Childe Cat</p>
		</div>
	</div>
</body>
</html>